<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mb-5">
        <h1 class="display-4"><b>ACCUEIL</b></h1>
        <br />
        <h2>TP Angular</h2>

        <h4>Liens vers les exercices :</h4>
      </div>

      <div class="row g-4">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center">
              <div class="mb-3">
                <i class="bi-fonts display-1 text-success"></i>
              </div>
              <h5 class="card-title">Exercice 1 : Nom et Prénom</h5>
              <p>
                Le but de cet exercice est de pouvoir personnaliser son nom et son prénom avec
                différents paramêtres tels que l'alignement, la police et encore la taille.
              </p>
              <a routerLink="/ex1" class="btn btn-success">
                <i class="bi bi-arrow-return-right"></i>
                Lien vers l'exercice
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center">
              <div class="mb-3">
                <i class="bi-calculator display-1 text-success"></i>
              </div>
              <h5 class="card-title">Exercice 2 : Calculatrice</h5>
              <p>
                Le but de cet exercice est de pouvoir calculer différentes opérations simples. Un
                historique des calculs est ajouté.
              </p>
              <a routerLink="/ex2" class="btn btn-success">
                <i class="bi bi-arrow-return-right"></i>
                Lien vers l'exercice
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center">
              <div class="mb-3">
                <i class="bi bi-bank display-1 text-success"></i>
              </div>
              <h5 class="card-title">Exercice 3 : Transactions bancaires</h5>
              <p>
                Le but de cet exercice est d'afficher un compte-rendu de transactions bancaires. En
                cliquant sur la transaction désirée, des détails sont affichés.
              </p>
              <a routerLink="/ex3" class="btn btn-success">
                <i class="bi bi-arrow-return-right"></i>
                Lien vers l'exercice
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
